pom.xml
pom.xml.asc
*.class
/lib/
/jars/
/target/
/classes/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.shadow-cljs/
node_modules/
resources/public/js/
.DS_Store
figwheel_server.log
.projectile
.rebel_readline_history
/jars/
